<h1>CiTYSCENE</h1>
<div class="initial-render row">
	<h2>where would you like to go?</h2>
	<div class="js-search-buttons">
	</div>
</div>
<div class="js-results">
	<div class="row">
		<div class="js-yelp-results col-2"></div>
		<div class="js-yelp-events col-2"></div>
	</div>
	<div class="row">
		<div class="js-twitter-results col-2"></div>
		<div class="js-bing-results col-2"></div>
	</div>
</div>
