<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- <p>Color: {{color}}</p> --}}
<form class="js-search-form">
	<label>Search City</label>
	<input type="text" name="query" id="js-query">
	<button type="submit" id="js-query-button">Submit</button>
</form>
<div class="js-results">
	<div class="js-yelp-results"></div>
	<div class="js-yelp-events"></div>

	<div class="js-twitter-results"></div>
</div>

{{!-- <ul class="people_list">
  {{#each place}}
    <li>{{this.name}}</li>
  {{/each}}
</ul> --}}