<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{!-- <p>Color: {{color}}</p> --}}
<form>
	<label>Search City</label>
	<input type="text" name="query" id="js-query">
	<button type="submit" id="js-query-button">Submit</button>
</form>
<div class="js-results"></div>
{{!-- <ul class="people_list">
  {{#each place}}
    <li>{{this.name}}</li>
  {{/each}}
</ul> --}}