

<header class="">
	<h1>CiTYSCENE</h1>

	<button class="hidden active" id="city-menu-button"> CITIES</button>
</header>

<main>
	<div class="initial-render row">
		<div class="js-search-buttons">
			<div class="about-text">
				<h2>where would you like to go?</h2>
				<p>With CiTYSCENE, you can explore your favorite cities, or discover something new in your hometown.</p>
				<p>Select a city to explore what's hot and to see what's happening.</p>
			</div>
		</div>
	</div>

	<div class="js-results">
		<div class="row">
			<div class="col-6">
				<div class="js-yelp-tabs-wrapper">
					<ul class="js-yelp-tabs">
					</ul>
				</div>
				<div class="js-yelp-results results-box"></div>
			</div>
			<div class="col-6">
				<div class="js-yelp-events results-box"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="js-twitter-results results-box"></div>
			</div>
			<div class="col-6">
				<div class="js-bing-results results-box"></div>
			</div>
		</div>
	</div>
</main>


