/*----- TO DO -----*/
/*http://www.color-hex.com/color-palette/2280*/
/* #343d46 #4f5b66 #65737e #a7adba #c0c5ce */
/* BKGD: https://www.pexels.com/photo/woman-on-rock-platform-viewing-city-196667/ */



/*----- GLOBAL STYLES -----*/

* {
  box-sizing: border-box;
  /*transition: all 0.5s;*/
  font-family: 'Josefin Sans', sans-serif;

}

html { 
  background: url(../images/city-bkgd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


body {
  padding: 0;
  margin: 0;
}

.hidden{
	display: none;
}

.row {
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	margin-bottom: 10px;
}



/*----- RESPONSIVE GRID STYLING -----*/

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-6 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/*----- MOBILE DEFAULTS -----*/


header{
	width: 100%;
	position: fixed;
	top: 0;
	height: 120px;
	padding: 10px;
	background-color: #4f5b66;
	border-bottom: black solid 2px;
	color: white;
}

a:hover{
	text-decoration: underline;
}


.yelp-results-list, .yelp-events-list, .twitter-results-list, .bing-results-list {
	list-style: none;
	padding-left: 20px;
	margin-top: 0px;
}

li img {
  display: inline-block;
  float: left;
  	height: 50px;
	width: 50px;
}

.yelp-results-header{
  clear: both;
}

.list-container{
  display: block;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  border-bottom: 2px gray solid;
  min-height: 70px}

.list-container:last-child{
  border: none;
}

.list-container a{
	vertical-align: middle;
}

li a, li span{
	display: inline-block;
}

.yelp-events-list li a, .yelp-results-list li a{
	display: table-cell;
}

a {
  color: #343d46;
  text-decoration: none;
  font-weight: bold;
}


.results-link{
	padding-left: 15px;
}

.tweet-text, .news-text{
	display: inline-block;
    width: 75%;
    padding-left: 10px;
    margin: 0;
    vertical-align: middle;
}

button#city-menu-button {
    font-size: 16px;
    border: 0;
    background-color: inherit;
    color: white;
    display: block;
	margin: 0 auto;
	outline: 0;
}

#city-menu-button:hover { 
  cursor: pointer;
}
#city-menu-button:before { 
  content:"+";
}
#city-menu-button.active:before { 
  content:"-";
}

.col-6 {
	width: 100%;
}

.initial-render {
    margin-top: 140px;
}

/*----- TABBED RESULTS ----- */

ul.js-yelp-tabs{
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
}

.tab-link svg{
	vertical-align: -0.25em;
}

ul.js-yelp-tabs li{
	background-color: #4f5b66;
	color: white;
	padding: 10px 15px;
	cursor: pointer;
	list-style: none;
	display: inline-block;
	line-height: 60px;
	width: 24%;
	border-radius: 5px 5px 0 0;
	text-align: center;
}

ul.js-yelp-tabs li.current{
	background: #a7adba;
	color: white;
	border-radius: 5px 5px 0 0;
}

ul.js-yelp-tabs li:first-child{
	border-radius: 5px 5px 0 0;
}


.yelp-results-list{
	display: none;
}

.yelp-results-list.current{
	display: inherit;
}

.results-box{
	background-color: #a7adba;
  	border-radius: 5px;
}

.js-yelp-results{
	border-radius: 0 0 5px 5px;
}

h1, h2, h3 {
	text-align: center;
}

h1{
	font-size: 30px;
	display: block;
}

h2, h3 {
    font-size: 50px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 60px;
}

h2 {
	font-style: italic;
}

/*.js-search-buttons{
	border: solid black 2px;
}*/

.city-button{
	display: block;
	font-size: 30px;
	/*position: relative;*/
	/*float: left;*/
	width: 100%;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 70px;
	color: #2B2B2B;
	border-radius: 5px;
		cursor: pointer;

	/*transition: all 0.2s ;*/
	background: #5DC8CD;
}

.city-button:hover{
	background: #01939A;;
}

/*----- Non-mobile, grid -----*/
@media screen and (min-width: 680px) {
  .col-6 {
    width: 50%;
}

.city-button{
	display: inline-block;
    width: 45%;
    margin: 10px 10px 0 10px;
}

.js-search-buttons{
	font-size: 0;
	text-align: center;
}

 button#city-menu-button {
    position: absolute;
    top: 30px;
    border: 0;
    right: 10px;
}

.city-button:last-child{
  margin-bottom: 10px;
}

.initial-render {
    margin-top: 100px;
}

h1{
	font-size: 30px;
	display: inline-block;
	position: absolute;
    top: 0px;
    left: 16px;
}

header{
	height: 80px;

}

}

