/*----- TO DO -----*/
/* it is easiest to try styling in codepen... copy HTML out of Chrome DevTools*/
/* styling when hover over results*/
/* description section in initial page load*/
/* font selection */
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax*/
/*http://soulwire.github.io/sketch.js/examples/particles.html*/
/*https://codepen.io/jackrugile/full/qLCuE*/
/*http://www.color-hex.com/color-palette/2280*/
/* #343d46 #4f5b66 #65737e #a7adba #c0c5ce */
/* BKGD: https://www.pexels.com/photo/woman-on-rock-platform-viewing-city-196667/ */



/*----- GLOBAL STYLES -----*/

* {
  box-sizing: border-box;
  /*font-size: 0;*/
  /*transition: all 0.5s;*/
}

html { 
  background: url(../images/city-bkgd.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header{
	width: 100%;
	position: fixed;
	top: 0;
	height: 80px;
	padding: 10px;
	background-color: #4f5b66;
	border-bottom: black solid 2px;
	color: white;
}


button#city-menu-button {
    position: absolute;
    font-size: 16px;
    top: 30px;
    /* right: 0; */
    border: 0;
    /* vertical-align: middle; */
    /* text-align: right; */
    right: 10px;
    background-color: inherit;
    color: white;
    /* padding-left: 15px; */
}

#city-menu-button:hover { 
  cursor: pointer;
}
#city-menu-button:before { 
  content:"+";
}
#city-menu-button.active:before { 
  content:"-";
}

.hidden{
	display: none;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.initial-render {
    margin-top: 100px;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.yelp-results-list, .yelp-events-list, .twitter-results-list, .bing-results-list {
	list-style: none;
  padding-left: 20px;
  margin-top: 0px;
}

li img {
  display: inline-block;
  float: left;
}

.yelp-results-header{
  clear: both;
}

.list-container{
  display: block;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  border-bottom: 2px gray solid;
  min-height: 70px}

.list-container:last-child{
  border: none;
}

.list-container a{
	vertical-align: middle;
}

li a{
  display: inline-block;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.results-img{
	height: 50px;
	width: 50px;
}

.results-link{
	padding-left: 5px;
}

p.tweet-text, .news-text{
	display: inline-block;
    width: 75%;
    padding-left: 10px;
    margin: 0;
    vertical-align: middle;
}

/*----- TABBED RESULTS ----- */
    ul.js-yelp-tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
			display: flex;
    		justify-content: space-between;
		}
		ul.js-yelp-tabs li{
			background-color: #4f5b66;
      		border-radius: 5px 5px 0 0;
			color: white;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
			line-height: 60px;
    		width: 24%;
		}

		ul.js-yelp-tabs li.current{
			background: #a7adba;
      		border-radius: 5px 5px 0 0;
			color: white;
		}

		.yelp-results-list{
			display: none;
		}

		.yelp-results-list.current{
			display: inherit;
		}

/*----- RESPONSIVE GRID STYLING -----*/

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-2 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/*----- MOBILE DEFAULTS -----*/
.col-2 {
	width: 100%;
}

.results-box{
	background-color: #a7adba;
  	border-radius: 5px;
}

h1, h2, h3 {
	text-align: center;
}

h1{
	font-size: 30px;
	display: inline-block;
	position: absolute;
    top: 0px;
    left: 16px;
}

h2, h3 {
    font-size: 50px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 60px;
}

h2 {
	font-style: italic;
}

.js-search-buttons{
	border: solid black 2px;
}

.city-button{
	display: block;
	font-size: 30px;
	/*position: relative;*/
	/*float: left;*/
	width: 100%;
	padding: 0;
	margin: 10px 20px 10px 0;
	font-weight: 600;
	text-align: center;
	line-height: 70px;
	color: #FFF;
	border-radius: 5px;
	/*transition: all 0.2s ;*/
	background: #5DC8CD;
}

.city-button:hover{
	background: #01939A;;
}

/*----- Non-mobile, grid -----*/
@media only screen and (min-width: 640px) {
  .col-2 {
    width: 50%;
  }